* {
    box-sizing: border-box;
}

.header {
    position: relative;
    background-color: black;
    margin-bottom: 30px;
}

.button__start-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    padding: 0 10px;
}

.button {
    width: 100%;
    padding: 5px 20px;
    background-color: rgb(0, 0, 0);
    color:white;
    font-weight: 700;
    cursor: pointer;
    font-size: 40px;
    transition: opacity 0.2s;
    border: none;
    text-align: left;
}

.button__start:hover {
    opacity: 0.8;
}

.button__option-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;

}

.button--option {
    font-size: 25px;
    color:rgb(236, 149, 49, 1);
}

.button:hover {
    opacity: 0.8;
}


.count {
    width: 50%;
    color:rgb(236, 149, 49, 1);
    font-size: 33px;
    padding: 5px 20px;
}

.time {
    padding: 5px 20px;
    width: 50%;
    color:rgb(236, 149, 49, 1);
    font-size: 33px;
}

.card {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap
}
.card__back {
    position: relative;
    flex-basis: 25%;
    overflow: hidden;
    z-index: 2;
}

.card__front {
    flex-basis: 25%;
    position: relative;
    width: 100%;
    height: 150px;
    padding-top: 25%;
    background-color:rgb(236, 149, 49);
    /* border: 1px solid black;   */
    overflow: hidden;
}


.card__front-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    object-fit: cover;
}

.loader {
    position: absolute;
    border: 9px solid #adabab;
    border-radius: 50%;
    left: 22%;
    top: 22%;
    border-top: 9px solid #3d3d3d;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    z-index: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card__back-button {
    width: 100%;
    height: 150px;
    background-color:rgb(236, 149, 49);
    cursor: pointer;
    overflow: hidden;
    color:rgb(236, 149, 49);
    font-size: 20px;
    font-weight: 700;
    border: 1px solid black;
}

.heading {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 40px;
    height: 50px;
    margin: 5px 0;
}

.heading-show {
    background-color: black;
}

.game {
    width: 600px;

}

.medium {
    width: 900px;
}

.card__front--medium {
    flex-basis: 16.66666%;
    padding-top: 16.66666%;
}

.card__back--medium {
    flex-basis: 16.66666%
}

.large {
    width: 1000px;
}

.card__front--large {
    flex-basis: 10%;
    height: 100px;
    padding-top: 10%;
}
.card__front--large .loader{
    border: 6px solid #adabab;
    border-top: 9px solid #3d3d3d;
    left: 25%;
    top: 25%;
    width: 50px;
    height: 50px;
 
}
.card__back--large {
    flex-basis: 10%;
    height: 100px;

}

.winner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.winner {
    position: relative;
    margin: auto 0;
    /* opacity: 1; */
    font-size: 55px;
    animation: blinkingText 1.2s infinite;
    padding: 30px;
    color: rgb(255, 255, 255, 1);
}

@keyframes blinkingText {
    0% {
        color: rgb(255, 255, 255, 1);
    }
    50% {
        color:rgb(236, 149, 49);
    }
    100% {
        color: rgb(255, 255, 255, 1);
    }
}

.start-counter-wrapper{
    position: absolute;
    background-color: rgb(0, 0, 0);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(236, 149, 49);
    z-index: 3;
    font-size: 300px;
}
.button--record{
    position: relative;
    color: rgb(255, 255, 255);
    z-index: 99;
    font-size: 20px;

}

.records-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    /* opacity: 0.3; */
    transform: rotate(0) scale(0) ;
    border: none;
    /* max-height: 600px;
    max-width: 600px; */
    /* color:rgb(236, 149, 49); */
    /* background-color: rgb(0, 0, 0); */
    z-index: 8;
    transition: 0.5s ease;
}
.records-wrapper.active {
    position: fixed;
    transform: rotate(0) scale(1.2);
    z-index: 888;
}

.records {
    position: relative;
    width: 75%;
    top:50px;
    margin: 10% auto;
    color: rgb(0, 0, 0, 1);
    background-color: rgb(236, 149, 49, 1);
    text-align: center;
    padding: 20px;
    font-size: 25px;
    z-index: 999;
    /* overflow: auto; */
}

.cancel-button{
    
    position: absolute;
    right: 0;
    top: 0;
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 5;
  border: none;
  transition: opacity 0.2s;
}
.cancel-button:hover{
    opacity: 0.8
}
.results__heading{
    
    margin: 0;
    margin-top: 20px;
    background-color: black;
    width: 100%;
    color: rgb(236, 149, 49, 1);
}
.statistics__title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.statistics{
   background-color: black;
   color: white;
   padding: 0 5px;
   font-size: 16px;
}

td{
    padding: 2px 5px;
}
.statistics__place{
    color:rgb(236, 149, 49, 1);
    text-align: left;
}

.input__label-wrapper{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 50px;
    z-index: 555;
}
.input__label{
    color:white;
    margin-bottom:0;
    font-size: 30px;
    letter-spacing: 3px;
}
.input{
    padding: 10px 20px;
    border: none;
}
.input__button{
    height: 100%;
    /* padding: 10px 20px; */
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
/* 
signIn.style.transform = 'rotate(360deg) scale(1.2) translateY(-80%) translateX(-45%)'; */